.prod-img {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
}

.listOfCategories {
  transform: translateY(10rem);
  z-index: 999;
}

.listOfProducts {
  width: 90vw;
  max-width: 62.5rem;
  color: #000000;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
  margin-top: 3.125rem;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 48rem) {
  .listOfProducts {
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    margin-left: 33rem;
    margin-top: 3.125rem;
  }
}
.category {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.chooseBtn {
  align-items: center;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  width: 15.625rem;
  padding: 0.75rem;
}

.chooseBtn:before {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 0.063rem;
  margin-right: 0.625rem;
  transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 0;
}

button:hover:before {
  background-color: #000;
  width: 3rem;
}
.selectCategory {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  width: 9.375rem;
  max-width: 12.5rem;
  padding-left: 1.25rem;
  float: left;
}

.categories-buttons {
  width: 9.375rem;
  max-width: 12.5rem;
  margin: 0;
}
.cardOfproduct {
  width: 18.75rem;
  height: 31.25rem;
  border: 1px solid #838d9c;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: box-shadow, transform 750ms ease;
}
.cardOfproduct:hover {
  box-shadow: 0px 0px 4px black;
  transform: scale(1.05);
}

.cardOfproduct img {
  width: 16.875rem;
  height: 22.5rem;
  border-radius: 0.313rem;
}
.name {
  cursor: pointer;
  color: inherit;
  font-weight: 400;
  align-self: baseline;
  margin-left: 0.7rem;
}
.price-and-add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  width: 100%;
  cursor: default;
}
.price {
  margin-left: 0.7rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.add-to-cart {
  color: black;
  margin: 1rem;
  margin-bottom: 1.5rem;
  transition: color, transform 500ms ease;
}

.add-to-cart:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: #0e1824;
}

.price-sort {
  transform: translateY(-2rem);
  list-style: none;
}

.manufacturer {
  margin: 0.3rem;
  margin-left: 0.7rem;
  align-self: baseline;
  font-weight: bold;
}
