* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 100%;
  background: #e0e5ec;
  background: linear-gradient(#e0e5ec, white);
  background-repeat: no-repeat;
  font-family: "Lato", sans-serif;
}
.wrapper {
  min-height: 100%;
}
.main {
  min-height: 100vh;
  padding-bottom: 6.25rem;
}
